extends layout

block content
  h3= poll.title
  if alert
    div(class="alert alert-#{status}", role='alert')
      p #{message}
  form#vote(method='post')
    input(type='hidden', name="poll-id", value="#{poll._id}")
    each option in poll.options
      .radio
        label
          input(type='radio', name='selection', value="#{option}")
          | #{option}
    input(type='submit', class='btn btn-primary', value='Submit')
